<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>智能一点</title>
  <meta name="description" content="智能一点官网" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
  <div class="g-hd container-fluid">
    <div class="col-sm-2 col-sm-offset-2">
      <img src="" alt="">
    </div>
    <ul class="col-sm-5 col-sm-offset-1 col-xs-12">
      <li>
        <a href="#product" class="topLink">智能产品</a>
      </li>
      <li>
        <a href="#team" class="topLink">团队介绍</a>
      </li>
      <li>
        <a href="#touch-ai" class="topLink">Touch Ai 人才计划</a>
      </li>
      <li>
        <a href="#media" class="topLink">媒体报道</a>
      </li>
      <li>
        <a href="#connection" class="topLink">联系我们</a>
      </li>
    </ul>
  </div>
  <div class="g-bd container-fluid">
    <div id="product" class="col-xs-12 box">
      <div class="top-placeholder"></div>
      <div class="content-hd">
        <h1>让您的服务智能一点</h1>
        <span>帮企业留住每一个经过的消费者</span>
      </div>
      <div class="content-bd">
        <div class="scene">
          <h3>智能交互推荐系统支持的三大应用场景</h3>
          <span class="blue-line"></span>
        </div>
        <div class="module"></div>
        <div class="core"></div>
        <div class="case"></div>
        <div class="aspirations"></div>
        <div class="support"></div>
      </div>
      <div class="content-ft">

      </div>
    </div>
    <div id="team" class="col-xs-12 box">
      团队介绍
    </div>
    <div id="touch-ai" class="col-xs-12 box">
      Touch Ai 人才计划
    </div>
    <div id="media" class="col-xs-12 box">
      媒体报道
    </div>
    <div id="connection" class="col-xs-12 box">
      联系我们
    </div>
  </div>
  <div class="g-ft container-fluid"></div>
</body>

</html>
